
* {
    box-sizing: border-box;
}

body {
    font-family: Tahoma;
    background-color: #ededed;
}

header{
    text-align: right;
    font-size: small;
    margin-right:5px;
}

.kunde{
    float:right;
    margin-right:5px;
}

.kundetext{
    text-align: right;
    margin-right:5px;
}
.abmelden{
    text-align: right;
    margin-right: 5px;
}

.textheader{
    background-color:#696867;
    color:white;
}

.orange{
    background-color:#eb5f0a;
}

summary{
    margin-right:10px;
    padding-bottom:9px;
}


.col-12{
    width:100%;
    float:left;
}

.col-3{
    width: 25%;
    float:left;
}

 .abstand{
    margin-top:6px;
    margin-bottom:6px;
}

.col-9{
    width: 75%;
    float:left;
}

.h1{
    font-size: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}

.ansprechpartner{
    text-align:right;
    padding-right:5px;
}
.h2{
    font-size: 15px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom:6px;

}

footer{
    background-color: lightgrey;
    text-align: center;
    position: fixed;
    bottom:0;
    padding:10px;
    left:0;
    right:0;
    font-size: small;
}
a {
    color:#4f4e4e;
}
a:hover{
    color:black;
}


@media only screen and (min-width: 500px) {

    .logo {
        width:470px;
        margin-left:5px;
        margin-bottom:10px;
    }
}

@media only screen and (max-width: 499px){

    .logo{
        width:60%;
        margin-top:5%
    }

}