body {
    font-family: Tahoma;
    background-color: #ededed;
}

html, body {
    height: 100%;
    margin:0px;
}

.content {
    min-height: 100%;
    margin: 0 auto -20px;

}
footer,
.pushFooter {
    height: 20px;
}

footer{
    background-color:lightgrey;
    text-align: center;
    font-size: small;
}

.kunde{
    float:right;
    margin-right:10px;
}

.kunde , .logo{
    margin-top: 1.5%;
}

.glyphicon-log-out , .glyphicon-user{
    margin-right:2px;
}

.textright{
    text-align: right;
}

.inner-addon {
    position: relative;
    margin-bottom:10px;
}

.inner-addon .glyphicon {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.right-addon .glyphicon {
    right: 0px;
}

thead{
    background-color:#d1cdca;
}

tbody{
    background-color:white;
}

a {
    color:#4f4e4e;
}
a:hover {
    color: black;
}

.clickable-row:hover{
    background-color: #d1cdca;
}

@media only screen and (min-width: 500px){

    .logo{
        width:470px;
        margin-left:5px;
        margin-bottom:10px;
    }

    .auftragstext{
        background-color: #eb5f0a;
        border-radius:1px;
        font-size: 35px;
        width:480px;
        color:white;
        text-align:center;
    }

    .inner-addon input{
        width:480px;
        margin-left:auto;
        margin-right:0px;
    }
}

@media only screen and (max-width: 499px){

    .kunde{
        font-size:x-small;
    }

    .logo{
        width:60%;
        margin-left:1%;
        margin-bottom:10px;
    }

    .auftragstext{
        background-color: #eb5f0a;
        border-radius:1px;
        font-size: 18px;
        width:200px;
        color:white;
        text-align:center;
        margin-bottom:10px;
    }

    thead , #MyTable{
        font-size: x-small;
    }

    footer{
        font-size: smaller;
    }
}