body {
    font-family: Tahoma, Geneva, sans-serif;
    background-color: #ededed;
}

html, body {
    height: 100%;
    margin:0px;
}

.content {
    min-height: 100%;
    margin: 0 auto -20px;
}
footer,
.push {
    height: 20px;
}

footer{
    background-color:lightgrey;
    text-align: center;
    font-size: small;
}

.col-12{
    width: 100%;
    text-align: center;
}

form{
    background-color: lightgrey;
    border-radius: 10px;
    width:300px;
    height:280px;
    line-height:60px;
    color:white;
    margin:20px auto;
    position:relative;
}

input{
    margin: 0 auto;
    margin-bottom: 20px;
    width:180px
}

.logintext{
    color:white;
    font-size: 35px;
    padding-top:10px;
    margin-bottom: 10px;
}

a {
    color:#4f4e4e;
}
a:hover{
    color:black;
}

.btn-default{
    width:180px;
}

@media only screen and (min-width: 500px) {

    .logo {
        width: 470px;
        margin-left: 5px;
        margin-bottom: 10px;
        margin-top: 8%;
    }
}

@media only screen and (max-width: 499px){

    .logo{
        width:60%;
        margin-top:5%

    }
    footer{
        font-size: smaller;
    }

}
